.user-details {
  top: 86px;
  position: sticky;

}

.user-details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;

}

#card-profile {
  margin-top: 23px;
  margin-right: 10px;
  padding:30px;
  background-color: white;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: sticky;
  z-index: 1;
  height: 60vh;
}

.informations {
  margin-top: 23px;
}
