


<div class="sidenav">
  <%= simple_form_for [@garden, @booking] do |f| %>
    <h1 href="#">Checkin - Checkout:</h1><br>
    <%= text_field_tag :dates_range, '', label: 'check in dates' %><br>

    <%= f.submit %>
  <% end %>
</div>

<div class="main">
  <h2 href="#"> The Garden</h2>
    <%= cl_image_tag(@booking.garden.photo) %>
    <p>Brief Description</p>
  </div>
