<div class="container mb-5">
  <br>
  <div class="card-trip">
    <%= cl_image_tag booking.garden.photo %>
  <div class="card-trip-infos">
    <div>

      <h2><%= booking.start_date%></h2>
      <p><%= booking.end_date %></p>



        </div>
        </div>
</div>
<%= link_to 'Back', gardens_path, class: "btn btn-outline-success" %>
</div>
