<div class="container mb-5">
  <br>
  <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1516253593875-bd7ba052fbc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
  <div class="card-trip-infos">
    <div>
  <h1>Congratulations ! Your Weed spot is booked !</h1>




        </div>
        </div>
</div>
<%= link_to 'Back', gardens_path, class: "btn btn-outline-success" %>
</div>
