  <div class="card-trip-infos">
    <div>
      <h2><%= link_to garden.name.capitalize, garden_path(garden), class: 'link-green' %></h2>
      <p><%= garden.address %></p>
    </div>
    <h2 class="card-trip-pricing"><%= garden.price_per_day %>€</h2>
  </div>

