
<div class="container w-50">
      <br>
  <% @gardens.each do |garden| %>
  <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1516253593875-bd7ba052fbc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
    <div class="card-trip-infos">
      <div>
        <h2><%= link_to garden.name, garden_path(garden), class: 'link-green' %></h2>
        <p><%= garden.address %></p>

    </div>
      <h2 class="card-trip-pricing"><%= garden.price_per_day %>€ per day</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
    <br>
  <% end %>
</div>
